
@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@600&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');


.logo__text {
    font-family: 'Open Sans', sans-serif;
    font-size: 2.4rem;
    color: $tertiary-color;
}

// This is the headline for Site

.heading {

    padding: 5vh;
    background-color: $transparentColor;

    &__main {
        font-family: 'Open Sans', sans-serif;
        font-size: 2.4rem;
        color: $tertiary-color;
        
    }
    &__sub {
        font-family: 'Open Sans', sans-serif;
        font-size: 1.6rem;
        color: $tertiary-color;
    }

    &__small {
        font-family: 'Open Sans', sans-serif;
        font-weight: bold;
    }

}

.headline{
    &__card {
        font-family: 'Open Sans', sans-serif;
        font-size: 1.2rem;
        color: $tertiary-color;
    }
    &__footer {
        font-size: 1.2rem;
        margin-bottom: 0.3rem;
        text-transform: uppercase;
        color: $tertiary-color;
        font-family: 'Open Sans', sans-serif;
        border-bottom: 2px solid $tertiary-color;
        
    }
}