@import url("https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@600&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
@media screen and (min-width: 200px) {
  /* change content here */
}
body {
  min-height: 100vh;
  background-color: #F2F2F2;
  line-height: 1.5;
}

.logo__text {
  font-family: "Open Sans", sans-serif;
  font-size: 2.4rem;
  color: #DF4C73;
}

.heading {
  padding: 5vh;
  background-color: rgba(242, 242, 242, 0.5450980392);
}
.heading__main {
  font-family: "Open Sans", sans-serif;
  font-size: 2.4rem;
  color: #DF4C73;
}
.heading__sub {
  font-family: "Open Sans", sans-serif;
  font-size: 1.6rem;
  color: #DF4C73;
}

.headline__card {
  font-family: "Open Sans", sans-serif;
  font-size: 1.2rem;
  color: #DF4C73;
}

.btn__primary {
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  height: fit-content;
  padding: 1em 1.5em;
  background-color: #DF4C73;
  border: 1px solid #fff;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}
.btn__primary:hover {
  -webkit-box-shadow: 0px 1px 3px #9E3652;
  -moz-box-shadow: 0px 1px 3px #9E3652;
  box-shadow: 0px 1px 3px #9E3652;
}

.card {
  max-width: 300px;
  margin: 0 auto;
  border: 3px solid #B3B3B3;
  -webkit-box-shadow: 0px 7px 22px 11px rgb(209, 209, 209);
  -moz-box-shadow: 0px 7px 22px 11px rgb(209, 209, 209);
  box-shadow: 0px 7px 22px 11px rgb(209, 209, 209);
  background-color: white;
  border-radius: 30px;
  overflow: hidden;
}
.card__img {
  width: 100%;
  height: 214px;
  object-fit: cover;
  border-bottom: 3px solid #DF4C73;
}
.card__details {
  text-align: center;
}

.container {
  margin: auto;
  width: 80%;
}

.cart {
  margin: 20px 0;
  float: right;
  background-color: white;
  width: 320px;
  position: absolute;
  border-radius: 3px;
  border: solid 3px #F2F2F2;
  padding: 20px;
}
.cart__header {
  border-bottom: 1px solid #F2F2F2;
  padding-bottom: 15px;
}
.cart__items {
  padding-top: 20px;
}
.cart::after {
  bottom: 100%;
  left: 89%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-bottom-color: white;
  border-width: 8px;
  margin-left: -8px;
}

.input__search {
  padding: 12px 20px;
  box-sizing: border-box;
}
.input__search[type=text]:focus {
  width: 50%;
  border: 2px solid #DF4C73;
}

.link__navbar {
  display: inline-block;
  position: relative;
  font-size: 30px;
  font-weight: 700;
  padding: 15px 0;
  text-decoration: none;
  color: #DF4C73;
}

.select__filter {
  width: 25%;
  padding: 16px 20px;
  border: none;
  border-radius: 4px;
  background-color: #f1f1f1;
}

.header__container {
  display: flex;
  min-height: 30vh;
  max-height: 30vh;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-position: center;
  background-size: cover;
}

.navBar {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  justify-items: center;
  height: 5rem;
  background-color: white;
  border-top: 3px solid #DF4C73;
  -webkit-box-shadow: 0px 7px 22px 11px rgb(209, 209, 209);
  -moz-box-shadow: 0px 7px 22px 11px rgb(209, 209, 209);
  box-shadow: 0px 7px 22px 11px rgb(209, 209, 209);
}

.menu {
  position: fixed;
  top: 0;
  width: 100%;
}
.menu__list {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  float: left;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
.menu__list {
  border-top: 3px solid #DF4C73;
  margin: 0;
  padding: 0;
  background-color: rgba(251, 251, 251, 0.552);
  list-style: none;
}

.hamburger {
  position: absolute;
  z-index: 100;
  right: 25px;
  top: 25px;
  cursor: pointer;
  transform: rotateY(0);
}

.patty {
  width: 28px;
  height: 2px;
  margin: 0 0 4px 0;
  background: #29363B;
}
.patty:last-child {
  margin-bottom: 0;
}

.nav__filter {
  display: flex;
  justify-content: space-between;
  background-color: white;
  padding: 1rem;
  border-bottom: 3px solid #DF4C73;
  -webkit-box-shadow: 0px 7px 22px 11px rgb(209, 209, 209);
  -moz-box-shadow: 0px 7px 22px 11px rgb(209, 209, 209);
  box-shadow: 0px 7px 22px 11px rgb(209, 209, 209);
}

.main {
  min-height: 50vh;
}
.main__home {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 10%;
  gap: 2rem;
  justify-content: center;
  align-items: normal;
  align-content: center;
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

/*# sourceMappingURL=style.css.map */
