@import url("https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@600&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
@media screen and (min-width: 200px) {
  /* change content here */
}
body {
  min-height: 100vh;
  background-color: #F1F1F1;
  line-height: 1.5;
}

.logo__text {
  font-family: "Open Sans", sans-serif;
  font-size: 2.4rem;
  color: #DF4C73;
}

.heading {
  padding: 5vh;
  background-color: rgba(242, 242, 242, 0.5450980392);
}
.heading__main {
  font-family: "Open Sans", sans-serif;
  font-size: 2.4rem;
  color: #DF4C73;
}
.heading__sub {
  font-family: "Open Sans", sans-serif;
  font-size: 1.6rem;
  color: #DF4C73;
}
.heading__small {
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
}

.headline__card {
  font-family: "Open Sans", sans-serif;
  font-size: 1.2rem;
  color: #DF4C73;
}
.headline__footer {
  font-size: 1.2rem;
  margin-bottom: 0.3rem;
  text-transform: uppercase;
  color: #DF4C73;
  font-family: "Open Sans", sans-serif;
  border-bottom: 2px solid #DF4C73;
}

.btn__primary {
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  height: fit-content;
  padding: 1em 1.5em;
  background-color: #DF4C73;
  border: 1px solid #fff;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}
.btn__primary:hover {
  -webkit-box-shadow: 0px 1px 3px #9E3652;
  -moz-box-shadow: 0px 1px 3px #9E3652;
  box-shadow: 0px 1px 3px #9E3652;
}
.btn__cart {
  font-family: "Open Sans", sans-serif;
  padding: 0.2em 1em;
  color: white;
  border-radius: 2px;
  border: 1px solid #9E3652;
  background-color: #DF4C73;
}
.btn__remove {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: #DF4C73;
}
.btn__buy {
  font-family: "Open Sans", sans-serif;
  padding: 0.2em 1em;
  color: white;
  border-radius: 2px;
  border: 1px solid #9E3652;
  background-color: #DF4C73;
}
.btn__buy:focus {
  background-color: green;
}

.card {
  display: flex;
  position: relative;
  flex-direction: column;
  max-width: 300px;
  margin: 0 auto;
  border: 2px solid #F1F1F1;
  -webkit-box-shadow: 0px 7px 22px 11px rgb(209, 209, 209);
  -moz-box-shadow: 0px 7px 22px 11px rgb(209, 209, 209);
  box-shadow: 0px 7px 22px 11px rgb(209, 209, 209);
  background-color: white;
  border-radius: 5px;
  overflow: hidden;
}
.card__sale {
  position: absolute;
  text-align: start;
  clip-path: polygon(0 0, 0% 100%, 100% 0);
  top: 0px;
  left: 0px;
  padding: 5px 6px;
  max-width: 50px;
  min-width: 50px;
  max-height: 50px;
  min-height: 40px;
  font-size: 0.9em;
  background: red;
  color: #fff;
}
.card__img {
  display: block;
  width: 100%;
  height: 214px;
  object-fit: cover;
  border-bottom: 3px solid #DF4C73;
}
.card__details {
  padding: 10px;
}

.container {
  margin: auto;
  width: 80%;
}

.cart {
  margin: 20px 0;
  float: right;
  background-color: white;
  width: 320px;
  position: absolute;
  border-radius: 3px;
  border: solid 2px #F1F1F1;
  padding: 20px;
}
.cart__header {
  border-bottom: 1px solid #DF4C73;
  padding-bottom: 15px;
}
.cart__items {
  padding-top: 20px;
  padding-bottom: 20px;
}
.cart__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;
}
.cart__item:last-child {
  padding-bottom: 0;
}
.cart__price {
  display: inline-flex;
  width: 100%;
  justify-content: space-between;
  padding-top: 15px;
  border-top: 1px solid #DF4C73;
}
.cart__buttom {
  display: inline-flex;
  width: 100%;
  justify-content: space-between;
  padding-top: 15px;
}
.cart::after {
  bottom: 100%;
  right: 89%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-bottom-color: white;
  border-width: 8px;
  margin-left: -8px;
}

.input__search {
  padding: 12px 20px;
  box-sizing: border-box;
}
.input__search[type=text]:focus {
  width: 50%;
  border: 2px solid #DF4C73;
}

.image__cart {
  height: 30px;
  width: 30px;
  object-fit: cover;
}

.link__navbar {
  display: inline-block;
  position: relative;
  font-size: 30px;
  font-weight: 700;
  padding: 15px 0;
  text-decoration: none;
  color: #DF4C73;
}

.select__filter {
  width: 25%;
  padding: 16px 20px;
  border: none;
  border-radius: 4px;
  background-color: #f1f1f1;
}

.search {
  margin: 20px 0;
  float: right;
  background-color: #CFCFCF;
  z-index: 99;
  position: absolute;
  border-radius: 3px;
  border: solid 2px #F1F1F1;
  padding: 20px;
  max-width: 100%;
}
.search__list {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  background-color: white;
  text-align: center;
  padding: 10px 16px;
  border-radius: 5px;
  margin-bottom: 10px;
  border: 1px #F1F1F1 solid;
}
.search__list:last-child {
  margin: 0;
}
.search__list--info {
  display: flex;
  flex-direction: column;
  text-align: start;
}
.search::after {
  bottom: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-bottom-color: white;
  border-width: 8px;
  margin-left: -8px;
}

.header__container {
  display: flex;
  min-height: 30vh;
  max-height: 30vh;
  padding: auto;
  margin: 4vh;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-position: center;
  background-size: cover;
}

.navBar {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  justify-items: center;
  height: 5rem;
  background-color: white;
  border-top: 3px solid #DF4C73;
  -webkit-box-shadow: 0px 7px 22px 11px rgb(209, 209, 209);
  -moz-box-shadow: 0px 7px 22px 11px rgb(209, 209, 209);
  box-shadow: 0px 7px 22px 11px rgb(209, 209, 209);
}

.menu {
  position: fixed;
  top: 0;
  width: 100%;
}
.menu__list {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  float: left;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
.menu__list {
  border-top: 3px solid #DF4C73;
  margin: 0;
  padding: 0;
  background-color: rgba(251, 251, 251, 0.552);
  list-style: none;
}

.hamburger {
  position: absolute;
  z-index: 100;
  right: 25px;
  top: 25px;
  cursor: pointer;
  transform: rotateY(0);
}

.patty {
  width: 28px;
  height: 2px;
  margin: 0 0 4px 0;
  background: #29363B;
}
.patty:last-child {
  margin-bottom: 0;
}

.nav__filter {
  display: flex;
  justify-content: space-between;
  background-color: white;
  padding: 1rem;
  border-bottom: 3px solid #DF4C73;
  -webkit-box-shadow: 0px 7px 22px 11px rgb(209, 209, 209);
  -moz-box-shadow: 0px 7px 22px 11px rgb(209, 209, 209);
  box-shadow: 0px 7px 22px 11px rgb(209, 209, 209);
}

.main {
  display: flex;
  justify-content: center;
}
.main__home {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 10%;
  gap: 2rem;
  justify-content: center;
  align-items: normal;
  align-content: center;
}
.main__aboutus {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: px;
  grid-row-gap: 0px;
}
.main__aboutus--story {
  grid-area: 1/2/6/4;
  padding: 1rem;
}
.main__aboutus--team {
  grid-area: 1/4/6/5;
  padding: 1rem;
}
.main__product--heading {
  grid-area: 1/1/2/4;
}
.main__product--MainInfo {
  grid-area: 2/4/4/6;
}
.main__product--spec {
  grid-area: 5/1/6/4;
}
.main__product--reviews {
  grid-area: 4/4/6/6;
}

.footer {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  padding: 3vh;
  background-color: white;
  border-top: 3px solid #DF4C73;
  margin-top: 5vh;
  -webkit-box-shadow: 0px -8px 33px -10px rgba(0, 0, 0, 0.66);
  -moz-box-shadow: 0px -8px 33px -10px rgba(0, 0, 0, 0.66);
  box-shadow: 0px -8px 33px -10px rgba(0, 0, 0, 0.66);
}
.footer ul {
  list-style: none;
}
.footer__name {
  grid-area: 1/1/2/2;
}
.footer__pages {
  grid-area: 1/3/2/4;
}
.footer__info {
  grid-area: 1/5/2/6;
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

.productPage {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  background-color: white;
  margin: 0 5rem 0 5rem;
  padding: 1rem;
  border-radius: 2%;
}
.productPage__heading {
  flex-basis: 100%;
  align-self: stretch;
  order: 1;
  padding-bottom: 10px;
}
.productPage__image {
  flex-basis: 50%;
  order: 2;
}
.productPage__price {
  display: inline-flex;
  flex-direction: column;
  max-height: 10vh;
  flex-basis: 30%;
  border-radius: 2%;
  padding: 20px;
  order: 3;
  background-color: gray;
}
.productPage__spec {
  order: 4;
}

/*# sourceMappingURL=style.css.map */
