// color Pallet

    // PRIMARY COLOR 
        $primary-color: #e2f0f9;
        $primary-color-dark: #B0DDE4;
    // SECONDARY COLOR
        $secondary-color: #286FB4;
    // Tertiary Color
        $tertiary-color: #DF4C73;
        $tertiary-color-dark: #9E3652;
    // Gray Color
        $grayColor: #B3B3B3;
        
    // Background color 
        $bgColor: #ffff;    
        $bgColor-secondary: #F2F2F2;
    // Transparent Color 
        $transparentColor: #f2f2f28b;
        