.link{
    &__navbar {
        display: inline-block;
        position: relative;
        font-size: 30px;
        font-weight: 700;
        padding: 15px 0;
        text-decoration: none;
        color: $tertiary-color;
    }
}