.main {
    display: flex;
    justify-content: center;
    
    &__home {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding: 10%;
        gap: 2rem;
        justify-content: center;
        align-items: normal;
        align-content: center;
    }

    &__aboutus{
        display: grid;
        justify-content: center;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(5, 1fr);
        grid-column-gap: px;
        grid-row-gap: 0px;
        

        &--story {
            grid-area: 1 / 2 / 6 / 4; 
            padding: 1rem;
        }
        &--team {
            grid-area: 1 / 4 / 6 / 5;
            padding: 1rem;
        }

    }
    &__product {
        

        &--heading {
            grid-area: 1 / 1 / 2 / 4;
        }
        &--MainInfo {
            grid-area: 2 / 4 / 4 / 6;
        }
        &--spec {
            grid-area: 5 / 1 / 6 / 4;
        }
        &--reviews {
            grid-area: 4 / 4 / 6 / 6;
        }

    }
    
}